<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PonyBreeds API</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
            color: #333;
        }

        header {
            background-color: #50b3a2;
            color: white;
            text-align: center;
            padding: 1em 0;
        }

        .button-container {
            display: flex;
            justify-content: center;
            margin: 1em 0;
        }

        .button-container a {
            display: inline-block;
            background-color: #50b3a2;
            color: white;
            padding: 10px 20px;
            margin: 0 10px;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }

        .button-container a:hover {
            background-color: #3a8d7b;
        }

        section.content {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: white;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .image-container {
            display: flex;
            justify-content: center;
            margin: auto;
            width: 500px;
            height: 300px;
        }
    </style>
  </head>

  <body>
    <header>
      <h1>PonyBreeds API</h1>
    </header>

    <div class="button-container">
      <%= link_to 'API docs', rswag_ui_path %>
      <a target="_blank" href="https://github.com/napster235/pony_breed_api">GitHub</a>
    </div>

    <section class="content">
      <h2>Overview</h2>
      <p>The PonyBreed API provides an interface for the PonyBreeds ruby gem. At the moment, the API is hosted on Render using a free tier, so the first request might be a bit slow.
        In order to access the API you don't need a key, and it free to use. You can use this API to learn new things, practice or build a small project.</p>
    </section>

    <div class="image-container">
      <img src="https://images.saymedia-content.com/.image/t_share/MTc0NDAxODQxOTkwMjE1MDE2/pony-care-and-grooming.jpg" alt="A picture of a pony" />
    </div>
  </body>
</html>
