<!DOCTYPE html>
<head>
  <title>PonyBreeds API</title>
  <style>
      header {
          background-color: #f5f5f5;
          padding: 10px;
          display: flex;
          justify-content: space-between;
      }
      ul.menu h1 {
          display:inline;
      }
      p {
          height: 30%;
          overflow: hidden;
          text-overflow: ellipsis;
          word-wrap: break-word;
          width: 700px;
      }
  </style>
</head>

<body>
  <header>
    <h1>PonyBreeds API </h1>
  </header>

  <main>
    <div>
      <nav >
        <ul class="menu">
          <h1><%= link_to 'API docs', rswag_ui_path %></h1>
          <h1><a target="_blank" href="https://github.com/napster235/pony_breed_api">GitHub</a></h1>
        </ul>
      </nav>
      <div class="container">
        <h2>Overview</h2>
        <p>
          The PonyBreed API provides an interface for the PonyBreeds ruby gem. At the moment, the API is hosted on Render using a free tier, so the first request might be a bit slow.
          In order to access the API you don't need a key, and it free to use. You can use this API to learn new things, practice or build a small project.
        </p>
      </div>
    </div>
  </main>
</body>
